/**********ADMIN CSS**********/

.navbar {
    display:none; /* Don't display navbar on Admin panel */
}

main {
    margin-left: 25vw; 
}

.jumbotron {
    background-color: lightblue;
    height: 350px; 
}

header {
    text-align: center; 
}

h2 {
    font-size:40px;
}

h3>span, h4>span {
    font-size: 10px; 
}

h4 {
    cursor: pointer; 
}

h4:hover {
    opacity: .8; 
    color: darkblue;
}

span {
    font-weight: bold; 
}

span:hover {
    opacity: .8; 
    cursor: pointer; 
}

p {
    font-size: 20px; 
}

a {
    font-weight: bold; 
    font-size: 30px; 
} 

a:hover, a:focus {
    text-decoration: none; 
}

a:hover {
    opacity: .8; 
}

.add, .edit, .delete {
    display:none;
}

.selected-dog {
    height: 120px; 
}

.dogSection {
    margin-top: -160px;
}

.allTags {
    display: none; 
}

.tagBox {
    width: 13px; 
    height: 13px; 
    padding: 0; 
    margin:0; 
    vertical-align: bottom; 
    position: relative; 
    top: -1px; 
    overflow: hidden;
}



/**********INPUT CSS**********/

input, select, button, .form-control, textarea {
    height: 100px; 
    width: 50vw; 
    font-size: 25px; 
    padding-left: 10px; 
}

#option, input[name=adminSearch] {
    height: 125px; 
    font-size: 35px; 
    font-weight: bold; 
} 

input[name=adminSearch] {
    margin-bottom: 200px; 
    margin-top:-70px; 
    border: solid 1px gray;
}

button, input[type=submit] {
    text-transform: uppercase !important;
    font-weight: bold; 
    font-size: 30px; 
}

textarea, input[type=url] {
    font-size: 16px;
}

input[type=file] {
    font-size: 12px;
}

input[type=file]:focus {
    outline: none; 
}



/**********MESSAGES CSS**********/

#successMessage {
    color: #468847;
}

.alert {
    font-size: 30px; 
}

#errorStrip {
    margin: 0 auto; 
}

.alert-warning, .alert-danger {
    width:50vw; 
    border: 1px solid lightgray;
}

.sessionMessage {
    width: 100vw; 
}
