/**********GENERAL CSS**********/

body {
    text-align: center; 
}

h1 {
    font-size: 70px; 
}

h2 {
    font-weight: bold; 
}

#matchOption, #searchOption {
    font-weight: normal; 
    cursor: pointer; 
}

#searchOption:hover, #matchOption:hover {
    color: #3a87ad; 
}

p {
    font-size: 18px; 
}

input {
    height: 100px;
    font-size: 30px;
    width: 50vw; 
    margin: 0 auto;
}

#homeSearch {
    height: 125px; 
    width: 60vw;
    outline:none; 
}

#homeSearch:focus {
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
}

.ui-autocomplete { 
    text-align: left; 
    max-height: 250px; 
    overflow-y: scroll; 
    overflow-x: hidden;
}

.ui-autocomplete.ui-widget {
    font-size: 20px; 
}



/**********MATCH-VIEW CSS**********/

#matchView {
    display:none; 
}

.label {
    font-size: 26px;
    font-weight: 300;
    cursor: pointer; 
    border-radius: 0px !important; 
}

.label:hover {
    opacity: .8; 
}

label[for="cmn-toggle-7"] {
    display: inline-block;
    width: 300px;
    text-align: right;
    font-size: 25px; 
    margin-left: -15vw;  
}

#refresh {
    cursor:pointer; 
    font-weight: 600; 
    font-size: 55px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#refresh:hover {
    color: #428bca; 
}

#refresh:active {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); 
}

.keywordButtons {
    font-size:35px;
}

.keywordButton:hover {
    color: #428bca; 
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#keywords {
    font-size: 22px; 
    font-weight: 500;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#keywords:focus, #keywords:active {
    outline: none; 
}

.dogImg {
    height: 250px;
    display: none; 
}

#smallDog {
    height: 200px;
}

#mediumDog {
    display:inline-block;
}

.alert alert-danger {
    font-size:20px;
}



/**********SLIDER CSS**********/
/* As a starting point, I used: http://codepen.io/the_ruther4d/pen/frbdH */

input[type="range"] {
    -webkit-appearance:none;
    width:50vw;
    height:50px;
    margin:10px 50px;
    background-size:50vw 20px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    outline: none;
    margin: 0 auto;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    background-color: #428bca;
    width:40px;
    height:50px;
    position:relative;
    z-index:0;
    box-shadow:0 0 20px 0 rgba(0,0,0,0.5);
    cursor: pointer; 
}



/**********3D FLIP-BUTTON CSS**********/
/* As a starting point, I used: http://callmenick.com/post/css-toggle-switch-examples */

#cmn-toggle-7 {
    display:none;
}

input.cmn-toggle-yes-no + label {
    padding: 2px;
    width: 500px;
    margin: 0 auto;
    cursor:pointer; 
}

input.cmn-toggle-yes-no + label:hover {
    opacity: .8; 
}

input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
    padding: 2px;
    width: 500px;
    position: absolute; 
    display: block;
    color: #fff;
    text-align: center;
    line-height: 150px; /* Height of Button */
}

input.cmn-toggle-yes-no + label:before {
    background-color: #428bca;
    font-size: 35px; 
    content: attr(data-off);

    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

input.cmn-toggle-yes-no + label:after {
    background-color: #5cb85c;
    font-size: 30px; 
    content: attr(data-on);
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

input.cmn-toggle-yes-no:checked + label:before {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

input.cmn-toggle-yes-no:checked + label:after {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
}

.cube {
    width: 250px;
    height: 150px; /* Height of Button */
    text-align: center;
    margin: 0 auto;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#flipto {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: #ccc;
}

.cube, .flip-to-top {
    border:none; 
    outline: none; 
    padding: 0 0 0 0; 
    width: 50vw; 
    height: 150px;
}

/* 225 is Button Height*1.5 */
.flip-to-top .active-state {
    -webkit-transform: rotateX(90deg) translateZ(225px);
    -moz-transform: rotateX(90deg) translateZ(225px);
    -o-transform: rotateX(90deg) translateZ(225px);
    -ms-transform: rotateX(90deg) translateZ(150px);
    transform: rotateX(90deg) translateZ(225px);
}

.flip-to-bottom .active-state {
    -webkit-transform: rotateX(-90deg) translateZ(-100px);
    -moz-transform: rotateX(-90deg) translateZ(-100px);
    -o-transform: rotateX(-90deg) translateZ(-100px);
    -ms-transform: rotateX(-90deg) translateZ(-100px);
    transform: rotateX(-90deg) translateZ(-100px);
}

.cube.flip-to-top:hover {
    -webkit-transform: rotateX(-89deg);
    -moz-transform: rotateX(-89deg);
    -o-transform: rotateX(-89deg);
    -ms-transform: rotateX(-89deg);
    transform: rotateX(-89deg);
}

.cube.flip-to-bottom:hover {
    -webkit-transform: rotateX(89deg);
    -moz-transform: rotateX(89deg);
    -o-transform: rotateX(89deg);
    -ms-transform: rotateX(89deg);
    transform: rotateX(89deg);
}

.default-state,
.active-state {
    background: #ffcc00;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    line-height: 150px; /* Height of Button */
    height: 150px; /* Height of Button */
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: background 250ms ease;
}

.default-state {
    font-size: 30px; 
    color: rgb(100, 100, 100); 
    background-color: white; 
    font-weight: bold;
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    transform: translateZ(50px);
}

.active-state {
    font-size: 60px; 
    color: white; 
    background-color: #5cb85c; 
    font-weight: bold;
}



/**********FOOTER CSS**********/

footer {
    height:60px;  
    width:100%;
}

.footerAlt {
    background: rgba(0,0,0,.05);
}

.footerSearch {
    position:fixed;
    bottom:0;
    background: rgba(0,0,0,.05);
}